.ListMembers{                              
                                                
}                                               
.no-word-wrap{
    white-space: nowrap;
}
.table-row{
    height:80px;
}

.no-member{
   height:60vh;
}