.AdminHome{                              
                                                
}                                               
.spin-custom{
    font-weight:bold;
    height:50px;
    width:50px;
    font-size:30px;
}
.alert-custom{
   text-align:center;
   margin:10px;
   font-size:30px;
   font-weight:bold;
   
}

